body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none;outline: none!important; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
body{font-family: "微软雅黑";background: #FAFAFA!important;}
html{height：100%；}
.fl{float: left;}
.fr{float: right;}
.clear{clear:both;}
.hidden{
    display: none;
 }
#menu{
	position: fixed;
	width: 100%;
	background: #202020;
	height:3.125rem;
	line-height:3.125rem;
	font-family: 'Raleway', sans-serif;
	z-index:10;
}
#menu .navbar{
	height:100%;
	width:18.125rem;
	margin:0 auto;
	position: relative; 
}
.navbar-brand{
	padding-top: 0.3rem;
}
.navbar-brand>img{
    display: inline-block;
    width: 7.46875rem;
}
.nav_tab{
	display: inline-block;
	width:1.59375rem;
	height:1.1875rem;
	background: url(../img/nav-bar.png) no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
}
.navlist{
	width: 2.0375rem;
    height: 1.625rem;
    z-index:15;
    display: block;
    background: url(../img/list_03.jpg) no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
    position: absolute;
    right: 0;
    top: 0.735rem;
}
.navlist.active{
	width: 1.25rem;
    height:1.25rem;
    background: url(../img/close.png) no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
}
#menu .collapse{
	width: 100%;
	min-height:3.125rem;
	background-color: #202020;
	font-family: 'Raleway', sans-serif;
	position:absolute;
	top:3.125rem;
	left:0;
	border-top:1px solid #5C5C5C;
	padding:1.3125rem 0 2.0rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.navbar-nav li{
	width:50%;
	height:3.0rem;
	float:left;
}
.navbar-nav li .sscroll{
	width:100%;
	height:3.0rem;
	float:left;
    font-size:0.9375rem;
    line-height:3.0rem;
    text-align: center;
    color: #5C5C5C;
}
.navbar-nav li.active .sscroll{
    color: #fff;
}
.main{
	width:100%;
	min-height: 18.8125rem;
	padding-top:3.125rem;
	background-color: #F5F5F5;
}
.content{
	width:18.5rem;	
	min-height:26rem;
	position: relative;
	margin:0 auto;
	padding-top:0.875rem;
}
.grid{
	width:100%;	
	min-height:12rem;
}
.grid_item{
	width:100%;	
	min-height:12rem;
    word-wrap: break-word;
    border-radius: 0.0625rem;
    -webkit-border-radius: 0.0625rem;
    -moz-border-radius: 0.0625rem;
    box-shadow: 0 0.03125rem 0.09375rem #e6e6e6;
    -webkit-box-shadow: 0 0.03125rem 0.09375rem #e6e6e6;
    -moz-box-shadow: 0 0.03125rem 0.09375rem #e6e6e6;
    background: #fff;
	margin-bottom:0.625rem;
	position: relative;
}
.item_img{
	width:100%;	
	height:13rem;
	overflow: hidden;
}
.img-wrap{
	width:100%;
	display: inline-block;
}
.grid_item .info {
	padding:0.3125rem 1rem 0.3125rem 0;
	text-indent: 0.46875rem;
	background: #fff;
	overflow: hidden;
}
.main .grid_item .info>p{
	font-size: 0.9375rem;
	font-weight: 500;
	color: #000;
	display: block;
	text-align: left;
}
.grid_item .info>span{
	color: #ABABAB;
	font-size: 0.75rem;
	line-height: 0.9375rem;
	padding-left:0.96875rem;
}
.grid_item .like{
    position: absolute;
    right: 0.175rem;
    height: 1rem;
    line-height: 1rem;
    padding-right: 0.46875rem;
    bottom: 0.2rem;
}
.grid_item .like>span{
    font-size: 0.75rem;
    color:#ABABAB;
    vertical-align: top;
}
.click_like>img{
	display: inline-block;
	width:0.90625rem;
	height:0.84375rem;
}
.footer{
    width:100%;
    position:relative;
    height:6.6875rem;
    z-index:11;
    background:#202020;
    padding-top:1.15625rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.footer .img3{
	display: inline-block;
	position: absolute;
	top: 1.15625rem;
	left:3.84375rem;
	width:4.0625rem;
	height:4.0625rem;
}
.footer .footer-info{
	margin-left: 0.3125rem;
	display: inline-block;
	position: absolute;
	top:1.9375rem;
	left:8.6875rem;
}
.footer .footer-info>img{
	width:6.6875rem;
	height:1.625rem;
}
.footer .footer-info p{
	color: #7C7B7B;
	font-size: 0.625rem;
}
/*活动页面*/
.act .img-wrap{
    width:100%;
	display: inline-block;
}
/*详情页面*/
.mid{
    width:18.5rem;
    min-height: 12rem;
    background-color: #fff;
    position: relative;
    border-radius: 0.125rem;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    padding:1.0rem 0.625rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.mid>p{
    color: #000;
    font-size: 0.9375rem;
    font-weight:600;
}
.mid>span{
    color: #ACACAC;
    font-size:0.625rem;
}
.mid>span.time{
	position: absolute;
	right:0.625rem;
}
.come{
	width:100%;
	position: relative;
	padding-top:1.25rem;
}
.come-left{
	width:14.125rem;
	margin:0 auto;
}
.come-left a{
	padding:0.4375rem 1.09375rem;
    float:right;
    color: #fff;
    background-color: #F35D61;	
    text-align: center;
    font-size: 0.9375rem;
    margin-top:2rem;
}
.come-left img{
	width:5.5rem;
	height:5.5rem;
	border:1px solid #F2F2F2;
	padding:4px;
}
.mid .img1{
	width:17.25rem;
	height:8.84375rem;
	margin-top:1.28125rem;
}
.mid .word>p{
	line-height: 1.5625rem;
	font-size:0.75rem;	
}
.mid .word img{width:100%!important;}
.mid .img2{
	width:17.25rem;
	height:9.375rem;
}
.close{
	width:2.03125rem;
	height:2.03125rem;
	position:fixed;
	right:0.75rem;
	top:4.0rem;
	opacity: .5;
	z-index:20;
}
.close img{
	width:2.03125rem;
	height:2.03125rem;
}
.click_zan{
	width:100%;
	height:1.625rem;
	line-height:1.625rem;
	margin-top:2.21875rem;
	padding-bottom:2.21875rem;
}
.click_zan span{
	display: inline-block;
	line-height:1.625rem;
	float: left;
}
.zan{
	display: inline-block;
	width:1.625rem;
	height:1.625rem;
	float: left;
}
.about-info{
	width:100%;
	position: relative;
	padding-top:2.8125rem;
	margin-bottom:2.8125rem;
}
.about-info>img{
	width:100%;
}
.info-lt{
	width:100%;
	margin-bottom:2.8125rem;
}
.info-lt>p{
	font-size:0.75rem;
	line-height: 1.25rem;
}
.info-right1{
	width:8.4375rem;
	position: relative;
	margin:0 auto;
	text-align: center;
	font-size: 0.6875rem;
	color: #8C8C8C;
}
.know{
	width:8.4375rem;
	position: relative;
	margin:0 auto;
	text-align: center;
	font-size: 0.6875rem;
	color: #8C8C8C;
	margin-bottom:0.9375rem;
}
.ewm{
	width:8.4375rem;
	height:8.4375rem;
	border:2px dashed #FFF2F2;
	padding:0.5rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.ewm>img{
	width:7.1875rem;
	height:7.1875rem;
	display: inline-block;
}
.no_center{
	margin-top:20rem;
	margin:0 auto;
	color:#000;
	text-align: center;
	font-weight: bolder;
	line-height: 10rem;
	font-size:2rem;
	font-family: 'Raleway', sans-serif;
}
.to-bottom {
  font-size: 18px;
  font-weight: bold;
  width: 6.75rem;
  height: 1.25rem;
  margin: 0.625rem auto 0;
  margin-top: 1.5625rem;
  padding-bottom: 1rem;
  display: block;
  color: #ABABAB;
}
.loading {
  text-align: center;
  display: none;
}
.loading img {
  width: 2.25rem;
  height: 2.25rem;
  margin: 0.625rem auto;
}
